<h1>Hello index page</h1>
<div class="d-flex">
    <% @events.each do |event| %>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title"><%= event.date %></h5>
            <p class="card-text"><%= event.discription %></p>
            <%= link_to "Show", event, class: "btn btn-primary" %>
            <% @new = Invite.where(event_id: "5").id %>
            <%= @new %>

            <% if @new.any? %>



            <button class="btn btn-success">Attend</button>
            <% end %>

        </div>
    </div>
    <% end %>
</div>