// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.grid-con {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.grid-con2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
